p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

code {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #9f85b5;
    color: #fff
}

table {
    border: 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

th {
    font-family: "Crimson Pro", serif;
    font-size: medium;
    color: #fff;
    background-color: #61789e;
}

td {
    font-family: "Roboto", serif;
    font-size: small;
    background-color: #dfe4ec;
}