body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #101010;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

code {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #9f85b5;
    color: #fff
}

table {
    border: 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

th {
    font-family: "Crimson Pro", serif;
    font-size: medium;
    color: #fff;
    background-color: #61789e;
}

td {
    font-family: "Roboto", serif;
    font-size: small;
    background-color: #dfe4ec;
    color: #000;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}

.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}

.wave-text span:nth-child(6) {
    animation-delay: 1s;
}

.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}

.wave-text span:nth-child(8) {
    animation-delay: 1.4s;
}

.wave-text span:nth-child(9) {
    animation-delay: 1.6s;
}

.wave-text span:nth-child(10) {
    animation-delay: 1.8s;
}

.wave-text span:nth-child(11) {
    animation-delay: 2s;
}

.wave-text span:nth-child(12) {
    animation-delay: 2.2s;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}